{% extends "home/base.html" %}

{% block content %}
    <h2>Build {{ build.name }}</h2>
    <p class="lead">
        Applications test
    </p>
    {% regroup object_list|dictsort:"component" by component as results_list %}
    <div class="row container">
        <div class="col-md-8">
            <div class="panel-group" role="tablist" style=''>
                <table class='table'>
                {% for result in object_list|dictsortreversed:"result" %}
                    <tr>
                        <td>
                            <img src="{{ result.build_artifacts_url}}" alt="{{result.name}}" class="img-thumbnail"
                             width="100px" height="100px">
                        </td>
                        <td valign="center">
                        {% if result.result == 1 %}
                            <p class="text-success">{{ result.name }}</p>
                        {% else %}
                            <p class="text-danger">{{ result.name }}</p>
                        {% endif %}
                        </td>
                        <td>
                            <a href='/test/{{ result.id }}' class='glyphicon glyphicon-stats' role='button'>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Test stats</div>
                <ul class="list-group">
                    {% regroup object_list|dictsort:"result" by result as total_stats %}
                    {% for stat in total_stats %}
                    <li class="list-group-item">
                        {% if stat.grouper == 1 %}
                        Passed <span class="badge list-group-item-success">{{ stat.list | length }}</span>
                        {% else %}
                        Failed <span class="badge list-group-item-danger">{{ stat.list | length }}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <div class="panel-footer">Total <span class="badge pull-right"> {{ object_list|length}}</span></div>
            </div>
        </div>
    </div>
{% endblock %}