{% load bootstrap3 %}
{% load staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
<link href='{% static "bgo/sidebar.css" %}' rel="stylesheet">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">GNOME Continuous</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="nav_build" class="active"><a href="/">Builds</a></li>
                <li id="nav_components"><a href="/components">Components</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://build.gnome.org/continuous/buildmaster/images/z/current/" target="_blank">Download</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id='wrapper'>
    <div id="sidebar-wrapper">
    {% block sidebar %}
        {% if buildslist %}
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href='/'>Builds</a></li>
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </li>
                {% endif %}
                {% for tmp_build in buildslist %}
                    <li>
                    {% if build and build.id == tmp_build.id %}
                        <li class="active">
                    {% else %}
                        <li class="">
                    {% endif %}
                            <a href="/{{ tmp_build.name }}/{{remainder}}">{{ tmp_build.name }}</a>
                        </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        {% else %}
            <p>No builds are available.</p>
        {% endif %}
    {% endblock %}
    {% if build_pagenum %}
        <input type="hidden" name="page" value="{{ build_pagenum }}">
    {% endif %}
    </div>

    <div id="page-content-wrapper">
        {% block content %}
        {% endblock %}
    </div>
</div>