{% extends "home/base.html" %}

{% block content %}
<h2> Build {{ build.name }}</h2>
<div class="row container" style="width:400px">
    {% if tasks %}
    <div class='panel panel-default'>
        <ul class="list-group">
            {% for task in tasks %}
                {% if task.success = 1 %}
                    <li class="list-group-item list-group-item-success">
                {% elif task.success = 2 %}
                    <li class="list-group-item list-group-item-warning">
                {% else %}
                    <li class="list-group-item list-group-item-info">
                {% endif %}
                        <span>{{ task.nice_name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% for test in object_list %}
    {% if test.success %}
    <div class='panel panel-success'>
    {% else %}
    <div class='panel panel-warning'>
    {% endif %}
        <div class='panel-heading'>
            <a href="/{{ build.name }}/{{ test.name }}">{{ test.nice_name }}</a>
            <span class="pull-right">
                {% if test.success %}
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok"/>
                    </span>
                {% else %}
                    <a href="{{test.build_url}}" class="label label-danger" target="_blank">
                        Logs
                    </a>
                {% endif %}
            </span>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Passed <span class="badge list-group-item-success">{{ test.passed }}</span>
            </li>
            <li class="list-group-item">
                Skipped <span class="badge list-group-item-info">{{ test.skipped }}</span>
            </li>
            <li class="list-group-item">
                Failed <span class="badge list-group-item-danger">{{ test.failed }}</span>
            </li>
        </ul>
        <div class="panel-footer">Total <span class="badge pull-right"> {{ test.total }}</span></div>
    </div>
{% endfor %}
</div>
{% endblock %}