{% extends "home/base.html" %}

{% block content %}
<h2> Build {{ build.name }}</h2>
<div class="row container">
{% for test in object_list %}
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <a href="/{{ build.name }}/{{ test.name }}">{{ test.name }}</a>
            <span class="pull-right">
                {% if test.success %}
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok"/>
                    </span>
                {% else %}
                    <span class="label label-danger">
                        <span class="glyphicon glyphicon-remove"/>
                    </span>
                {% endif %}
            </span>
            
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Passed <span class="badge list-group-item-success">{{ test.passed }}</span>
            </li>
            <li class="list-group-item">
                Skipped <span class="badge list-group-item-info">{{ test.skipped }}</span>
            </li>
            <li class="list-group-item">
                Failed <span class="badge list-group-item-danger">{{ test.failed }}</span>
            </li>
        </ul>
        <div class="panel-footer">Total <span class="badge pull-right"> {{ test.total }}</span></div>
    </div>
{% endfor %}
</div>
{% endblock %}