{% extends "home/build_list.html" %}

{% block content %}
    <h2>Build {{ build.name }}</h2>
    <p class="lead">
        Integration tests
    </p>

    {% regroup object_list|dictsort:"component" by component as results_list %}
    <div class="row container">
        <div class="col-md-8">
            <div class="panel-group" role="tablist" style=''>
            {% for component in results_list %}
                <div class='panel panel-default'>
                    <div id="{{ component.grouper }}" class="panel-heading" role="tab">
                            {{ component.grouper }}
                            <a class="pull-right glyphicon glyphicon-chevron-down btn-xs" href="#group{{component.grouper|slugify}}" aria-expanded="false" aria-controls="group{{ component.grouper|slugify }}" data-toggle="collapse">
                            </a>
                            {% regroup component.list|dictsort:"result" by result as component_stats %}
                            <span class='pull-right'>
                                {% for component_stat in component_stats %}
                                    {% if component_stat.grouper == 1 %}
                                        <span class="btn btn-xs btn-success">{{ component_stat.list | length }}</span>
                                    {% elif component_stat.grouper == 3 %}
                                        <span class="btn btn-xs btn-info">{{ component_stat.list | length }}</span>
                                    {% else %}
                                        <span class="btn btn-xs btn-danger">{{ component_stat.list | length }}</span>
                                    {% endif %}
                                {% endfor %}
                            </span>
                    </div>
                    <div id='group{{ component.grouper|slugify }}' class="panel-collapse collapse"
                        aria-labelledby='{{ component.grouper|slugify }}' role='tabpanel' aria-expanded="false">
                        <ul class="list-group">
                        {% for result in component.list|dictsortreversed:"result" %}
                            <li class="list-group-item">
                                <a href='/test/{{ result.id }}' class='glyphicon glyphicon-stats pull-right' role='button'>
                                </a>
                                {% if result.result == 1 %}
                                    <span class="text-success">{{ result.name }}</span>
                                {% elif result.result == 3 %}
                                    <span class="text-muted">{{ result.name }}</span>
                                {% else %}
                                    <a href='{{ result.build_artifacts_url}}' class='glyphicon glyphicon-exclamation-sign'>
                                    </a>
                                    <span class="text-danger">{{ result.name }}</span>
                                {% endif %}
                                
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class='col-md-2'>
            <div class='panel panel-default'>
                <div class='panel-heading'>Test stats</div>
                <ul class="list-group">
                    {% regroup object_list|dictsort:"result" by result as total_stats %}
                    {% for stat in total_stats %}
                    <li class="list-group-item">
                        {% if stat.grouper == 1 %}
                        Passed <span class="badge list-group-item-success">{{ stat.list | length }}</span>
                        {% elif stat.grouper == 3 %}
                        Skipped <span class="badge list-group-item-info">{{ stat.list | length }}</span>
                        {% else %}
                        Failed <span class="badge list-group-item-danger">{{ stat.list | length }}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                <div class="panel-footer">Total <span class="badge pull-right"> {{ object_list|length}}</span></div>
            </div>
        </div>
    </div>
    <script language="javascript">
        // Opening accordion based on URL
        var url = document.location.toString();
        if ( url.match('#') ) {
            $('#group'+url.split('#')[1]).addClass('in');
        }
    </script>
{% endblock %}